body{
    background-image:url(assets/Rectangle\ 1.png);
    background-size: 100% 420px;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
.barra{
    text-decoration:none ;
    color: white;
    margin: 0px 16px;
    font-size: 17px;
    font-weight: 200;
}
.barra:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    justify-content: space-around;
}
.iniciar {
    border-radius: 20px;
    border: 0px none;
    padding: 0px 20px;
    font-size: 17px;
    background-color: rgba(250, 250, 250, 0.25);
}
.iniciar:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.497);
}
h1{
    font-weight: 100;
    font-size: 80px;
    max-width: 500px;
}
.texto1{
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
}
.start{
    border-radius: 20px;
    border: 0px none;
    padding: 8px 20px;
    align-items: center;
    font-size: 17px;
    background-color: #0a2540;
    color: white;
    display: flex;
    align-items:  center;
}
.start:hover{
    background-color: #0a2540a8;
    cursor: pointer;
    .flecha1{
        transform: translateX(5px);
    }
}
.contact{
    border-radius: 20px;
    border: 0px none;
    padding: 10px 20px;
    font-size: 17px;
    background-color: transparent;
    color: #7000ff;
    display: flex;
    align-items:  center;
}
.contact:hover{
    color:#6f00ffa6;
    cursor: pointer;
    .flecha2{
        transform: translateX(5px);
    }
}
.Phone{
    height: 550px;
    width: 340px;
}
.tarjeta1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjeta2{
    width: 50%;
}
.tarjeta3{
    display: flex;
    flex-direction: row;
}
[class*="foto"]{
    width:100% ;
    height: 70px ;
}
.imagenes{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 40px;
    row-gap: 30px;
}
.img2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img3{
    margin-top: 100px;
    margin-block-end: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
@media screen and (max-width: 320px) {
    ul{
        display: none;
    }
    .Phone{
        display: none;
    }
    .iniciar{
        display: none;
    }
    .hamburguer-button{
        width: 50px;
        height: 30px;
        background-color: rgba(252, 252, 252, 0.595);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .bar{
        width: 18px;
        height: 2px;
        background-color:white;
        margin: 1px 0;
    }
    nav{
        display: flex;
        align-items: center;
    }
    body{
        background-image:url(assets/Rectangle\ 1.png);
        background-size: 100% 200px;
        background-repeat: no-repeat;
        margin-left: 0px;
        font-family: "Roboto", sans-serif;
    }
    .tarjeta2{
        width: 100%;
        margin-left: 10px;
    }
    h1{
        font-weight: 100;
        font-size: 50px;
        max-width: 180px;
        margin-left: 10px;
    }
    .imagenes{
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
    }
    [class*="foto"]{
        width:100% ;
        height: auto;
    }
}
.seccion-unificada-container2{
    background-color: #f7f9fc;
    padding: 104px;
    padding-top: 64px;
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 1144px;
    width: 100%;
}
.two-column{
    display: flex;
}
.column1{
    margin-right: 25px;
}
.textoColumn1{
    max-width: 1000px;
    font-size: 20px;
}
.column2{
    margin-left: 25px;
}
.textoColumn2{
    max-width: 900px;
    font-size: 20px;
}
.startnow{
    border-radius: 20px;
    border: 0px none;
    padding: 8px 20px;
    align-items: center;
    font-size: 17px;
    background-color: #6962f7;
    color: white;
    display: flex;
    align-items:  center;
}
.startnow:hover{
    background-color: #0a2540;
    cursor: pointer;
    .flecha3{
        transform: translateX(5px);
    }
}
.subtitulo{
    color: #6962f7;
    font-size: 16px;
}
.h2{
    width: 600px;
    font-size: 40px;
}
.links{
    color: #6962f7;
    text-decoration: none;
}
.links:hover{
    color: #073461;
}
.seccion-graphics{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f7f9fc;
}
.cont{
    width: 100%;
    max-width: var(--standard-width);
    display: flex;
    justify-content: center;
}
.grid{
    padding:20px ;
}
.grid2{
    padding:20px ;
}
.tarCredit{
    width: 360px;
    height: 214.15px;
    display: flex;
    border-radius: 25px;
}
.image{
    width: 752px;
    height: 448.68px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.phone{
    width: 360px;
    height: 658.01px;
    display: flex;
    border-radius: 30px;
    padding-top: 10px;
}
.dash{
    width: 752px;
    height: 448.68px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1024px){
    .tarCredit{
        width: 360px;
        height: 214.15px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
    }
    .image{
        width: 530px;
        height: 448.68px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
    .phone{
        width: 340px;
        height: 658.01px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding-top: 10px;
    }
    .dash{
        width: 530px;
        height: 448.68px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
}
@media screen and (max-width: 320px){
    .seccion-unificada-container2{
        padding: 0px;
        margin-left: 10px;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .h2{
        width: 300px;
        font-size: 30px;
        color: black;
    }
    .two-column{
        display: flex;
        flex-direction: column;
    }
    .column2{
        margin: 0px;
    }
    .startnow{
        width: 160px;
    }
    .tarCredit{
    width: 74.66px;
    height: 44.41px;
    display: flex;
    border-radius: 10px;
    }
    .image{
    width: 181.34px;
    height: 108.19px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .phone{
        width: 74.66px;
        height: 136.46px;
        display: flex;
        border-radius: 10px;
    }
    .dash{
        width: 181.34px;
        height: 108.19px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
}
.SeccionCont3{
    background-color: #0a2540;
    padding: 90px 104px 104px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}
.p3{
    color: #00d4ff;
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
}
.h2-3{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    width: 550px;
}
.p4{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    width: 550px;
}
.StartNow3{
    border-radius: 20px;
    border: 0px none;
    padding: 8px 20px;
    align-items: center;
    font-size: 17px;
    background-color: #00d4ff;
    color: #0a2540;
    display: flex;
    align-items:  center;
}
.StartNow3:hover{
    background-color: #ffffff;
    cursor: pointer;
    .flecha4{
        transform: translateX(5px);
    }
}
.ColumnIzq{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Izq2{
    display: flex;
    flex-direction: row;
    width: 550px;
}
.Izq3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 16px 8px 0px;
}
.Izq4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 16px 8px 0px;
}
#icono{
    width: 50px;
    height: 50px;
}
.h3-1{
    font-size: 22px;
    color: #ffffff;
}
.p5{
    color: #adbdcc;
    max-width: 570px;
}
.p6{
    color: #adbdcc;
    max-width: 500px;
}
.Btsegundario{
    border-radius: 20px;
    border: 0px none;
    padding: 10px 20px;
    font-size: 17px;
    background-color: transparent;
    color: #00d4ff;
    display: flex;
    align-items:  center;
}
.Btsegundario:hover{
    color: #01aaccc4;
    cursor: pointer;
    .Flecha5{
        transform: translateX(5px);
    }
}
.ColumnDer{
    width: 50%;
    box-sizing: border-box;
    padding-left: 50px ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#img2{
    width: 470px;
    height:340px ;
    border-radius: 20px;
}
#img3{
    height:319.89px;
    width: 469.99px;
    border-radius: 20px;
}
@media screen and (max-width:1024px) {
    .SeccionCont3{
        background-color: #0a2540;
        padding: 90px 10px 104px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .SeccionCont3{
        width: 100%;
        margin-left: 0px;
        display: flex;
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .p4{
        width: 295px;
    }
    .ColumnDer{
        display: none;
    }
    .ColumnIzq{
        width: 100%;
        margin-left: 10px;
    }
    .h2-3{
        display: flex;
        justify-content: flex-start;
        width: 300px;
        font-size: 30px;
    }
    .Izq2{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .Izq3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8px 16px 8px 0px;
    }
}


